.swipeButtons{
    position: fixed;
    bottom: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.swipeButtons .MuiIconButton-root{
    background-color: white;
    box-shadow: 0px 10px 53px rgba(0,0,0,0.3)!important;
}

.repeatBtn {
    padding: 3vw !important;
    color: rgb(245, 183, 72) !important;
}

.closeBtn {
    padding: 3vw !important;
    color: rgb(236, 94, 111) !important;
}

.starBtn {
    padding: 3vw !important;
    color: rgb(98, 180, 249) !important;
}

.favoriteBtn {
    padding: 3vw !important;
    color: rgb(118, 226, 179) !important;
}

.flashOnBtn {
    padding: 3vw !important;
    color: rgb(145, 93, 209) !important;
}